*.bgn
*_bitgen.xwbt
*.bld
*.cfi
*.drc
*.map
*.mcs
*.mrp
*.ncd
*.ngc
*.ngc_xst.xrpt
*.ngd
*_ngdbuild.xrpt
*.ngm
*_par.grf
*_par.ncd
*_par.pad
*_par_pad.csv
*_par_pad.txt
*_par.par
*_par.ptwx
*_par.unroutes
*_par.xpi
*.pcf
*.prj
*.prm
*.psr
*.scr
*.srp
*.twr
*.twx
*.xml
*.html
_impactbatch.log
netlist.lst
smartguide.ncd
top.lso
top_map.xrpt
top_par.xrpt
usage_statistics_webtalk.html
webtalk.log
xlnx_auto_0_xdb
_xmsgs
xst
unused/
