set_io D1 99
set_io D2 98
set_io D3 97
set_io D4 96
set_io D5 95
set_io TXD 8
set_io RXD 9
set_io clk 21
set_io resetq 3
set_io PIOS_00 70
set_io PIOS_01 68
set_io PIOS_02 67
set_io PIOS_03 71
set_io PIO1_18 105
set_io PIO1_19 106
set_io PIO1_20 107
set_io PIO1_02 78
set_io PIO1_03 79
set_io PIO1_04 80
set_io PIO1_05 81
set_io PIO1_06 87
set_io PIO1_07 88
set_io PIO1_08 90
set_io PIO1_09 91
