set_io D1 C3
set_io D2 B3
set_io D3 C4
set_io D4 C5
set_io D5 A1
set_io D6 A2
set_io D7 B4
set_io D8 B5
set_io TXD B12
set_io RXD B10
set_io pclk J3
set_io resetq A16
set_io PIOS_00 R11
set_io PIOS_01 P11
set_io PIOS_02 P12
set_io PIOS_03 R12


set_io PIO1_02 P16
set_io PIO1_03 N16
set_io PIO1_04 M16
set_io PIO1_05 K15
set_io PIO1_06 K14
set_io PIO1_07 G14
set_io PIO1_08 J15
set_io PIO1_09 H16

set_io PIO0_02 R16
set_io PIO0_03 T15
set_io PIO0_04 T13
set_io PIO0_05 N12
set_io PIO0_06 N10
set_io PIO0_07 T11
set_io PIO0_08 T10
set_io PIO0_09 P8

set_io PIO2_10 P1
set_io PIO2_11 N3
set_io PIO2_12 M2
set_io PIO2_13 L3
set_io PIO2_14 K3
set_io PIO2_15 J2
set_io PIO2_16 H2
set_io PIO2_17 G2

